/*# Color Pallette */
:root {
  --y-in-mn-blue: #355070ff;
  --chinese-violet: #6d597aff;
  --cinnamon-satin: #b56576ff;
  --candy-pink: #e56b6fff;
  --tumbleweed: #eaac8bff;
}

/*# Font Section */
@font-face {
  font-family: 'Shadows Into Light';
  src: url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
}

/*# Page Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Shadows Into Light', cursive;
  background-color: var(--chinese-violet);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

h1 {
  font-size: 34px;
  color: white;
}

button {
  background-color: var(--candy-pink);
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.1em;
  color: white;
  padding: 0.25em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(1);
}

/*# Game Board Styling */
main {
  width: 90%;
  max-width: 700px;
  height: 90vh;
  margin: 0 auto;
  padding: 1em;
  background-color: var(--tumbleweed);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 10% 20% 25% 10% 20% 5%;
}
.score {
  grid-column: span 3;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player1 {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.player2 {
  text-align: right;
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.player {
  width: 70%;
  color: var(--y-in-mn-blue);
}

.player-score {
  width: 30%;
  color: var(--cinnamon-satin);
}

.player-select {
  grid-column: span 3;
  font-size: 22px;
  color: var(--y-in-mn-blue);
  text-align: center;
}

.player-2-select {
  grid-row: 5;
}

.img-container {
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
}

.img-container img {
  width: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.img-container img:hover {
  transform: scale(1.05);
}

.img-container img:active {
  transform: scale(1);
}

.player-2-rock {
  grid-row: 6;
}
.player-2-paper {
  grid-row: 6;
}
.player-2-scissors {
  grid-row: 6;
}

.display-winner {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button {
  grid-column: span 3;
}

.player-wins {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.player-wins p {
  color: var(--cinnamon-satin);
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
/* # Functional classes */
.hidden {
  display: none;
}
